.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    .page-size {
        display: flex;

        .row-dropdown {
            margin-right: 10px;
        }
    }

    .page-info {

        .page-counter {

        }
    }
}