<div class="pagination">
    <div class="page-size">
        <div class="row-dropdown">
            <select class="dropdown" [(ngModel)]="pageSize" (ngModelChange)="fetchRecordByRecordCount()">
                <option *ngFor="let row of selectableDropdownValues" [value]="row">{{row}}</option>
            </select>
        </div>
        <span class="msg">Rows per page</span>
    </div>

    <div class="page-info">
        <div class="page-counter">
            <span *ngIf="!totalRecords">No page available.</span>
            <span *ngIf="totalRecords">Total Records: {{pageSize}} of {{totalRecords}}</span>
        </div>
        <div class="navigation">
            <div></div>
        </div>
    </div>

</div>