<div class="app-table-layout-pagination">
    <app-table [headers]="tableHeaders" [data]="paginatedRecords" (selectedRowEmitter)="actionRow($event)"
        [tableActions]="tableActions"></app-table>
    <div class="page-footer">
        <app-pagination [totalRecords]="totalTableRecords" [selectableDropdownValues]="selectableDropdownValues"
            (rowsToDisplayEmitter)="fetchRecords($event)">
        </app-pagination>
    </div>
</div>