.table {

    .table-content {

        .table-headers {
            display: flex;
            align-items: center;
            height: 50px;
            border-bottom: 1px solid gray;
            color: grey;
            padding: 0 10px;

            .headers {
                flex: 1;
            }

            .table-action-header {
                margin: 0 10px;
            }
        }

        .table-list {
            display: flex;
            flex-direction: column;
            overflow: auto;
            height: calc(100vh - 180px);

            .table-item {
                display: flex;
                padding: 10px;

                .row-values {
                    flex: 1;
                    word-break: break-all;
                    margin-right: 10px;
                }

                &:nth-child(even) {
                    background-color: #F0F4F8;
                }

                .table-action {
                    padding: 0 10px;

                    .fa {
                        color: blue;
                        cursor: pointer;
                    }
                }
            }
        }

        .loading-indicator {
            display:flex;
            justify-content: space-around;
            align-items: center;

            .loader {
                margin: 120px;
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                border-top: 16px solid #3498db;
                width: 120px;
                height: 120px;
                animation: spin 2s linear infinite;
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        }

    }
}