<div class="table">
    <div class="table-content">
        <div class="table-headers">
            <div class="headers" *ngFor="let header of headers">
                <span>{{header.title}}</span>
            </div>
            <div class="table-action-header" *ngFor="let action of tableActions">
                <span></span>
            </div>
        </div>

        <div class="table-list" *ngIf="data">
            <div class="table-item" *ngFor="let row of data">
                <div class="row-values" *ngFor="let col of headers;">
                    {{ col.dateFormat ? (row[col.key] | date: 'medium') : row[col.key] }}
                </div>
                <div class="table-action" *ngFor="let colAction of tableActions">
                    <em class="fa" [ngClass]="colAction.icon" (click)="selectRow(row)"></em>
                </div>

            </div>

        </div>

        <div class="loading-indicator" *ngIf="!data">
            <div class="loader"></div>
        </div>
    </div>
</div>